In [2]:
# Imports
import pandas as pd

In [3]:
dfs = []

# 1. download small area fmrs from 2015 to 2021
# 2. 2025 - 2022: MODEL DF
# 3. 2021, 2019: Aadi
# 4. 2020: Jay
# 5: 2018 - 2015: Jay

In [4]:
# 2019, 2021
for i in range(19, 22):
    if i == 20:
        continue
    
    df = pd.read_excel(f'datasets/fmrs_{2000 + i}.xlsx')
    df = df[df['HUD Metro Fair Market Rent Area Name'] == 'Washington-Arlington-Alexandria, DC-VA-MD HUD Metro FMR Area']
    df = df.drop(df.columns[[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17]], axis=1)
    df = df.reset_index(drop=True)
    
    df = df.rename(columns={
            'ZIP\nCode': 'zip_code',
            'SAFMR\n0BR': '0_bedroom',
            'SAFMR\n1BR': '1_bedroom',
            'SAFMR\n2BR': '2_bedroom',
            'SAFMR\n3BR': '3_bedroom',
            'SAFMR\n4BR': '4_bedroom'
        })
    
    df = df[df['zip_code'] != 88888]
    
    dfs.append(df)

In [5]:
for i in range(22, 26):
    df = pd.read_excel(f'datasets/fmrs_{2000 + i}.xlsx')
    df = df[df['HUD Metro Fair Market Rent Area Name'] == 'Washington-Arlington-Alexandria, DC-VA-MD HUD Metro FMR Area']
    df = df.drop(df.columns[[0, 1]], axis=1)
    df = df.reset_index(drop=True)
    
    df = df.rename(columns={
            'ZIP\nCode': 'zip_code',
            'erap_fmr_br0': '0_bedroom',
            'erap_fmr_br1': '1_bedroom',
            'erap_fmr_br2': '2_bedroom',
            'erap_fmr_br3': '3_bedroom',
            'erap_fmr_br4': '4_bedroom'
        })
    
    df = df[df['zip_code'] != 88888]
    
    dfs.append(df)

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [6]:
for df in dfs:
    display(df)
    
    
    # Washington-Arlington-Alexandria, DC-VA-MD HUD Metro FMR Area
    # Washington-Arlington-Alexandria, DC-VA-MD HUD Metro FMR Area

     zip_code  0_bedroom  1_bedroom  2_bedroom  3_bedroom  4_bedroom
0       20001       1740       1790       2050       2680       3300
1       20002       1220       1260       1440       1880       2320
2       20003       2120       2180       2500       3270       4020
3       20004       2120       2180       2500       3270       4020
4       20005       2000       2050       2350       3070       3780
..        ...        ...        ...        ...        ...        ...
438     22742       1170       1230       1420       1870       2320
439     22960       1170       1230       1420       1870       2320
440     23015       1170       1230       1420       1870       2320
441     23024       1170       1230       1420       1870       2320
442     23117       1170       1230       1420       1870       2320

[443 rows x 6 columns]

     zip_code  0_bedroom  1_bedroom  2_bedroom  3_bedroom  4_bedroom
0       20001       2080       2130       2430       3120       3780
1       20002       1330       1360       1550       1990       2410
2       20003       2270       2320       2650       3400       4120
3       20004       2270       2320       2650       3400       4120
4       20005       2160       2210       2520       3230       3910
..        ...        ...        ...        ...        ...        ...
500     22742       1130       1160       1320       1690       2050
501     22960        960       1000       1160       1530       1890
502     23015        960       1000       1160       1530       1890
503     23024        960       1000       1160       1530       1890
504     23117        960       1000       1160       1530       1890

[505 rows x 6 columns]

     zip_code  0_bedroom  1_bedroom  2_bedroom  3_bedroom  4_bedroom
0       20001       2180       2220       2530       3200       3840
1       20002       1539       1567       1785       2260       2713
2       20003       2310       2350       2680       3390       4070
3       20004       2310       2350       2680       3390       4070
4       20005       2210       2250       2560       3240       3890
..        ...        ...        ...        ...        ...        ...
500     22742       1539       1567       1785       2260       2713
501     22960       1539       1567       1785       2260       2713
502     23015       1539       1567       1785       2260       2713
503     23024       1539       1567       1785       2260       2713
504     23117       1539       1567       1785       2260       2713

[505 rows x 6 columns]

     zip_code  0_bedroom  1_bedroom  2_bedroom  3_bedroom  4_bedroom
0       20001       2300       2340       2660       3330       3970
1       20002       1589       1615       1838       2299       2742
2       20003       2390       2430       2760       3450       4120
3       20004       2390       2430       2760       3450       4120
4       20005       2200       2240       2550       3190       3800
..        ...        ...        ...        ...        ...        ...
499     22742       1589       1615       1838       2299       2742
500     22960       1589       1615       1838       2299       2742
501     23015       1589       1615       1838       2299       2742
502     23024       1589       1615       1838       2299       2742
503     23117       1589       1615       1838       2299       2742

[504 rows x 6 columns]

     zip_code  0_bedroom  1_bedroom  2_bedroom  3_bedroom  4_bedroom
0       20001       2460       2500       2840       3530       4190
1       20002       1772       1803       2045       2544       3015
2       20003       2660       2710       3070       3820       4530
3       20004       2610       2650       3010       3740       4440
4       20005       2330       2370       2690       3350       3970
..        ...        ...        ...        ...        ...        ...
500     22742       1772       1803       2045       2544       3015
501     22960       1772       1803       2045       2544       3015
502     23015       1772       1803       2045       2544       3015
503     23024       1772       1803       2045       2544       3015
504     23117       1772       1803       2045       2544       3015

[505 rows x 6 columns]

     zip_code  0_bedroom  1_bedroom  2_bedroom  3_bedroom  4_bedroom
0       20001       2770       2830       3190       3990       4700
1       20002       2050       2100       2360       2950       3480
2       20003       3020       3080       3470       4340       5120
3       20004       2900       2960       3330       4160       4910
4       20005       2520       2580       2900       3630       4280
..        ...        ...        ...        ...        ...        ...
500     22742       2012       2056       2314       2893       3413
501     22960       2012       2056       2314       2893       3413
502     23015       2012       2056       2314       2893       3413
503     23024       2012       2056       2314       2893       3413
504     23117       2012       2056       2314       2893       3413

[505 rows x 6 columns]

In [7]:
df_2020 = pd.read_excel('data/fy2020_safmrs_rev.xlsx')
df_2020

,zcta,CBSASub20,Areaname20,safmr_0br,safmr_0br_90pct_pay_std,safmr_0br_110pct_pay_std,safmr_1br,safmr_1br_90pct_pay_std,safmr_1br_110pct_pay_std,safmr_2br,safmr_2br_90pct_pay_std,safmr_2br_110pct_pay_std,safmr_3br,safmr_3br_90pct_pay_std,safmr_3br_110pct_pay_std,safmr_4br,safmr_4br_90pct_pay_std,safmr_4br_110pct_pay_std
0,76437,METRO10180M10180,"Abilene, TX MSA",540,486,594,560,504,616,740,666,814,960,864,1056,1240,1116,1364
1,76443,METRO10180M10180,"Abilene, TX MSA",540,486,594,560,504,616,740,666,814,960,864,1056,1240,1116,1364
2,76464,METRO10180M10180,"Abilene, TX MSA",540,486,594,560,504,616,740,666,814,960,864,1056,1240,1116,1364
3,76469,METRO10180M10180,"Abilene, TX MSA",550,495,605,580,522,638,760,684,836,1000,900,1100,1290,1161,1419
4,79501,METRO10180M10180,"Abilene, TX MSA",670,603,737,690,621,759,910,819,1001,1200,1080,1320,1540,1386,1694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26085,85356,METRO49740M49740,"Yuma, AZ MSA",550,495,605,590,531,649,780,702,858,1130,1017,1243,1370,1233,1507
26086,85364,METRO49740M49740,"Yuma, AZ MSA",600,540,660,650,585,715,860,774,946,1240,1116,1364,1510,1359,1661
26087,85365,METRO49740M49740,"Yuma, AZ MSA",660,594,726,720,648,792,940,846,1034,1360,1224,1496,1650,1485,1815
26088,85366,METRO49740M49740,"Yuma, AZ MSA",570,513,627,620,558,682,820,738,902,1180,1062,1298,1440,1296,1584
26089,85367,METRO49740M49740,"Yuma, AZ MSA",740,666,814,810,729,891,1060,954,1166,1530,1377,1683,1860,1674,2046

In [8]:
df_2020 = df_2020[df_2020['Areaname20'] == 'Washington-Arlington-Alexandria, DC-VA-MD HUD Metro FMR Area']
df_2020 = df_2020.rename(columns={
        'zcta' : 'zip_code',
        'safmr_0br': '0_bedroom',
        'safmr_1br': '1_bedroom',
        'safmr_2br': '2_bedroom',
        'safmr_3br': '3_bedroom',
        'safmr_4br': '4_bedroom'
    })
df_2020 = df_2020.drop(['CBSASub20', 'Areaname20', 'safmr_0br_90pct_pay_std', 'safmr_0br_110pct_pay_std','safmr_1br_90pct_pay_std',  'safmr_1br_110pct_pay_std', 'safmr_2br_90pct_pay_std',  'safmr_2br_110pct_pay_std', 'safmr_3br_90pct_pay_std', 'safmr_3br_110pct_pay_std', 'safmr_4br_90pct_pay_std', 'safmr_4br_110pct_pay_std'], axis=1)
df_2020 = df_2020[df_2020['zip_code'] != 88888]
df_2020 = df_2020.reset_index(drop = True)
df_2020

     zip_code  0_bedroom  1_bedroom  2_bedroom  3_bedroom  4_bedroom
0       20001       1890       1950       2220       2880       3520
1       20002       1280       1320       1500       1950       2380
2       20003       2190       2250       2560       3320       4060
3       20004       2190       2250       2560       3320       4060
4       20005       2070       2130       2430       3150       3850
..        ...        ...        ...        ...        ...        ...
438     22742       1060       1110       1280       1690       2090
439     22960       1060       1110       1280       1690       2090
440     23015       1060       1110       1280       1690       2090
441     23024       1060       1110       1280       1690       2090
442     23117       1060       1110       1280       1690       2090

[443 rows x 6 columns]

In [9]:
zip_codes = pd.read_csv('data/zip_code_database.csv')
zip_codes = zip_codes[zip_codes['state'].isin(['MD', 'VA', 'DC'])]
zip_codes

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population
8278,20001,STANDARD,0,Washington,NaN,NaN,DC,District of Columbia,America/New_York,"202, 771",NaN,US,38.91,-77.02,33910
8279,20002,STANDARD,0,Washington,NaN,NaN,DC,District of Columbia,America/New_York,"202, 771",NaN,US,38.91,-76.98,53730
8280,20003,STANDARD,0,Washington,NaN,NaN,DC,District of Columbia,America/New_York,"202, 771",NaN,US,38.88,-76.99,29800
8281,20004,STANDARD,0,Washington,NaN,NaN,DC,District of Columbia,America/New_York,"202, 771",NaN,US,38.90,-77.03,1170
8282,20005,STANDARD,0,Washington,NaN,NaN,DC,District of Columbia,America/New_York,"202, 771",NaN,US,38.90,-77.03,8310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25201,56984,UNIQUE,0,Parcel Return Service,Prs,Parcel Return Svc,DC,NaN,America/New_York,NaN,NaN,US,0.00,0.00,0
25202,56985,UNIQUE,0,Parcel Return Service,Prs,Parcel Return Svc,DC,NaN,America/New_York,NaN,NaN,US,0.00,0.00,0
25203,56998,UNIQUE,0,Parcel Return Service,Prs,Parcel Return Svc,DC,NaN,America/New_York,"202, 771",NaN,US,38.89,-77.03,0
25204,56999,UNIQUE,0,Parcel Return Service,Prs,Parcel Return Svc,DC,NaN,America/New_York,"202, 771",NaN,US,38.89,-77.03,0
37955,88888,UNIQUE,0,North Pole,NaN,Operation Sc,DC,NaN,America/New_York,NaN,NaN,US,0.00,0.00,0

In [10]:
df_2018 = pd.read_excel('data/FY18_4050_FMRs_rev.xlsx')
df_2018 = df_2018[df_2018['areaname'] == 'Washington-Arlington-Alexandria, DC-VA-MD HUD Metro FMR Area']

zip_codes['county'] = zip_codes['county'].str.strip().str.lower()
df_2018['countyname'] = df_2018['countyname'].str.strip().str.lower()

df_2018 = zip_codes[
    zip_codes['county'].notna() & zip_codes['county'].isin(df_2018['countyname'])
].merge(
    df_2018[['countyname', 'fmr_0', 'fmr_1', 'fmr_2', 'fmr_3', 'fmr_4']],
    left_on='county',
    right_on='countyname',
    how='left'
)[['zip', 'fmr_0', 'fmr_1', 'fmr_2', 'fmr_3', 'fmr_4']]
df_2018

       zip  fmr_0  fmr_1  fmr_2  fmr_3  fmr_4
0    20001   1504   1561   1793   2353   2902
1    20002   1504   1561   1793   2353   2902
2    20003   1504   1561   1793   2353   2902
3    20004   1504   1561   1793   2353   2902
4    20005   1504   1561   1793   2353   2902
..     ...    ...    ...    ...    ...    ...
758  56944   1504   1561   1793   2353   2902
759  56945   1504   1561   1793   2353   2902
760  56950   1504   1561   1793   2353   2902
761  56965   1504   1561   1793   2353   2902
762  56972   1504   1561   1793   2353   2902

[763 rows x 6 columns]

In [11]:
df_2017 = pd.read_excel('data/FY2017-4050-County-Level_Data.xlsx')
df_2017 = df_2017[df_2017['areaname'] == 'Washington-Arlington-Alexandria, DC-VA-MD HUD Metro FMR Area']

zip_codes['county'] = zip_codes['county'].str.strip().str.lower()
df_2017['countyname'] = df_2017['countyname'].str.strip().str.lower()

df_2017 = zip_codes[
    zip_codes['county'].notna() & zip_codes['county'].isin(df_2017['countyname'])
].merge(
    df_2017[['countyname', 'fmr0', 'fmr1', 'fmr2', 'fmr3', 'fmr4']],
    left_on='county',
    right_on='countyname',
    how='left'
)[['zip', 'fmr0', 'fmr1', 'fmr2', 'fmr3', 'fmr4']]
df_2017

       zip  fmr0  fmr1  fmr2  fmr3  fmr4
0    20001  1440  1513  1746  2300  2855
1    20002  1440  1513  1746  2300  2855
2    20003  1440  1513  1746  2300  2855
3    20004  1440  1513  1746  2300  2855
4    20005  1440  1513  1746  2300  2855
..     ...   ...   ...   ...   ...   ...
758  56944  1440  1513  1746  2300  2855
759  56945  1440  1513  1746  2300  2855
760  56950  1440  1513  1746  2300  2855
761  56965  1440  1513  1746  2300  2855
762  56972  1440  1513  1746  2300  2855

[763 rows x 6 columns]