In [53]:
# Imports
import pandas as pd

In [ ]:
dfs = []
start = 23
end = 26

# 1. download small area fmrs from 2015 to 2021
# 2. 2025 - 2022: MODEL DF
# 3. 2021, 2019 - 2018: Aadi
# 4. 2020: Jay
# 5: 2017 - 2015: Jay
for i in range(start, end):
    df = pd.read_excel(f'datasets/fmrs_{2000 + i}.xlsx')
    df = df[df['HUD Metro Fair Market Rent Area Name'] == 'Washington-Arlington-Alexandria, DC-VA-MD HUD Metro FMR Area']
    df = df.drop(df.columns[[0, 1]], axis=1)
    df = df.reset_index(drop=True)
    
    df = df.rename(columns={
            'ZIP\nCode': 'zip_code',
            'erap_fmr_br0': '0_bedroom',
            'erap_fmr_br1': '1_bedroom',
            'erap_fmr_br2': '2_bedroom',
            'erap_fmr_br3': '3_bedroom',
            'erap_fmr_br4': '4_bedroom'
        })
    
    df = df[df['zip_code'] != 88888]
    
    dfs.append(df)
    
for df in dfs:
    display(df)

/Users/Aadi/Desktop/CMSC320 final project/.venv/lib/python3.11/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
/Users/Aadi/Desktop/CMSC320 final project/.venv/lib/python3.11/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

     zip_code  0_bedroom  1_bedroom  2_bedroom  3_bedroom  4_bedroom
0       20001       2300       2340       2660       3330       3970
1       20002       1589       1615       1838       2299       2742
2       20003       2390       2430       2760       3450       4120
3       20004       2390       2430       2760       3450       4120
4       20005       2200       2240       2550       3190       3800
..        ...        ...        ...        ...        ...        ...
499     22742       1589       1615       1838       2299       2742
500     22960       1589       1615       1838       2299       2742
501     23015       1589       1615       1838       2299       2742
502     23024       1589       1615       1838       2299       2742
503     23117       1589       1615       1838       2299       2742

[504 rows x 6 columns]

     zip_code  0_bedroom  1_bedroom  2_bedroom  3_bedroom  4_bedroom
0       20001       2460       2500       2840       3530       4190
1       20002       1772       1803       2045       2544       3015
2       20003       2660       2710       3070       3820       4530
3       20004       2610       2650       3010       3740       4440
4       20005       2330       2370       2690       3350       3970
..        ...        ...        ...        ...        ...        ...
500     22742       1772       1803       2045       2544       3015
501     22960       1772       1803       2045       2544       3015
502     23015       1772       1803       2045       2544       3015
503     23024       1772       1803       2045       2544       3015
504     23117       1772       1803       2045       2544       3015

[505 rows x 6 columns]