In [1]:
import pandas as pd

In [10]:
df_2025 = pd.read_excel('fy2025_erap_fmrs.xlsx')
df_2025

,HUD Metro Fair Market Rent Area Name,CBSASub24,ZIP\nCode,erap_fmr_br0,erap_fmr_br1,erap_fmr_br2,erap_fmr_br3,erap_fmr_br4
0,"Abilene, TX MSA",METRO10180M10180,76437,944,950,1207,1571,1899
1,"Abilene, TX MSA",METRO10180M10180,76443,944,950,1207,1571,1899
2,"Abilene, TX MSA",METRO10180M10180,76464,944,950,1207,1571,1899
3,"Abilene, TX MSA",METRO10180M10180,76469,944,950,1207,1571,1899
4,"Abilene, TX MSA",METRO10180M10180,79501,944,950,1207,1571,1899
...,...,...,...,...,...,...,...,...
51900,Puerto Rico HUD Nonmetro Area,NCNTY72923N72923,775,470,490,540,760,830
51901,Puerto Rico HUD Nonmetro Area,NCNTY72923N72923,794,510,530,610,800,960
51902,"St. Croix Island, VI",NCNTY78010N78010,99999,1113,1136,1387,1671,1839
51903,"St. John Island, VI",NCNTY78020N78020,99999,1494,1753,2178,2624,2888
51904,"St. Thomas Island, VI",NCNTY78030N78030,99999,1101,1282,1605,1934,2128

In [12]:
df_2024 = pd.read_excel('fy2024_erap_fmrs_revised.xlsx')
df_2024

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,HUD Metro Fair Market Rent Area Name,CBSASub23,ZIP\nCode,erap_fmr_br0,erap_fmr_br1,erap_fmr_br2,erap_fmr_br3,erap_fmr_br4
0,"Abilene, TX MSA",METRO10180M10180,76437,860,876,1117,1488,1789
1,"Abilene, TX MSA",METRO10180M10180,76443,860,876,1117,1488,1789
2,"Abilene, TX MSA",METRO10180M10180,76464,860,876,1117,1488,1789
3,"Abilene, TX MSA",METRO10180M10180,76469,860,876,1117,1488,1789
4,"Abilene, TX MSA",METRO10180M10180,79501,860,876,1117,1488,1789
...,...,...,...,...,...,...,...,...
29403,Northern Mariana Islands,NCNTY69999N69999,99999,652,732,962,1356,1633
29404,Puerto Rico HUD Nonmetro Area,NCNTY72923N72923,99999,410,421,473,667,737
29405,"St. Croix Island, VI",NCNTY78010N78010,99999,1084,1106,1351,1634,1799
29406,"St. John Island, VI",NCNTY78020N78020,99999,1441,1707,2122,2566,2826
29407,"St. Thomas Island, VI",NCNTY78030N78030,99999,1059,1249,1563,1890,2082

In [13]:
df_2023 = pd.read_excel('fy2023_erap_fmrs_revised.xlsx')
df_2023

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,HUD Metro Fair Market Rent Area Name,CBSASub23,ZIP\nCode,erap_fmr_br0,erap_fmr_br1,erap_fmr_br2,erap_fmr_br3,erap_fmr_br4
0,"Abilene, TX MSA",METRO10180M10180,76437,732,779,1006,1360,1649
1,"Abilene, TX MSA",METRO10180M10180,76443,732,779,1006,1360,1649
2,"Abilene, TX MSA",METRO10180M10180,76464,732,779,1006,1360,1649
3,"Abilene, TX MSA",METRO10180M10180,76469,732,779,1006,1360,1649
4,"Abilene, TX MSA",METRO10180M10180,79501,732,779,1006,1360,1649
...,...,...,...,...,...,...,...,...
29288,"St. Croix Island, VI",NCNTY78010N78010,99999,935,954,1165,1418,1565
29289,"St. John Island, VI",NCNTY78020N78020,99999,1243,1473,1831,2228,2460
29290,"St. Thomas Island, VI",NCNTY78030N78030,99999,903,1079,1350,1643,1814
29291,"Chugach Census Area, AK",NCTNY02063N02063,99999,899,974,1282,1663,1946
29292,"Copper River Census Area, AK",NCTNY02066N02066,99999,781,889,1168,1518,1990